<section class="infiltration-gain">
  <label for="infiltrationGain">Infiltration Points</label>
  {{#if action.editable}}
    <input data-id="infiltrationGain" name="actions.{{type}}.{{action.id}}.infiltrationGain" type="number" value="{{action.infiltrationGain}}">
    <select data-id="group" name="actions.{{type}}.{{action.id}}.group">
      <option value='individual' {{#if (eq action.group "individual")}}selected{{/if}}>individual</option>
      <option value='group' {{#if (eq action.group "group")}}selected{{/if}}>group</option>
    </select>
  {{else}}
    <div data-id="infiltrationGain">{{action.infiltrationGain}}  {{#if (eq action.group "group")}}(group){{else}}(individual){{/if}}</div>
  {{/if}}
</section>
<section class="overcome-section">
  <label for="overcome">Overcome</label>
  {{#if action.editable}}
    <input data-id="overcome" name="actions.{{type}}.{{action.id}}.overcome" type="text" value="{{action.overcome}}">
  {{else}}
    <div data-id="overcome">{{{lookup (lookup (lookup enrichedContent.actions type) action.id) 'overcome'}}}</div>
  {{/if}}
</section>
<section class="description-section">
  {{#if action.editable}}
    <prose-mirror name="actions.{{type}}.{{action.id}}.description" value="{{action.description}}" toggled="true">
      {{{lookup (lookup (lookup enrichedContent.actions type) action.id) 'description'}}}
    </prose-mirror>
  {{else}}
    {{{lookup (lookup (lookup enrichedContent.actions type) action.id) 'description'}}}
  {{/if}}
</section>
