<section class="trigger-section">
  <label for="trigger">Trigger</label>
  {{#if action.editable}}
    <input data-id="trigger" name="actions.{{type}}.{{action.id}}.trigger" type="text" value="{{action.trigger}}">
  {{else}}
    <div data-id="trigger">{{action.trigger}}</div>
  {{/if}}
</section>
<section class="overcome-section">
  <label for="overcome">Overcome</label>
  {{#if action.editable}}
    <input data-id="overcome" name="actions.{{type}}.{{action.id}}.overcome" type="text" value="{{action.overcome}}">
  {{else}}
    <div data-id="overcome">{{{lookup (lookup (lookup enrichedContent.actions type) action.id) 'overcome'}}}</div>
  {{/if}}
</section>
<section class="description-section">
  {{#if action.editable}}
    <prose-mirror name="actions.{{type}}.{{action.id}}.description" value="{{action.description}}" toggled="true">
      {{{lookup (lookup (lookup enrichedContent.actions type) action.id) 'description'}}}
    </prose-mirror>
  {{else}}
    {{{lookup (lookup (lookup enrichedContent.actions type) action.id) 'description'}}}
  {{/if}}
</section>
