<div class="sheet-content">
    <div class="sheet-body">
        <section class="tab description {{tab.cssClass}}" data-tab="description" data-group="primary">
            <section class="main editor-container">
                {{editor enrichedContent.description target="description" button=true editable=true engine="prosemirror"}}
            </section>
        </section>
        <section class="tab actions {{tab.cssClass}}" data-tab="actions" data-group="primary">
            <section class="action-list">
                {{#each object.actionTypes as |type|}}
                    <header>
                        <h3 class="actionType-name">{{type}}</h3>
                        <div class="actionType-controls">
                            <a data-action="add-action" data-tooltip="Create new '{{type}}'" data-type={{type}}>
                                <i class="fa-solid fa-fw fa-plus"></i>
                            </a>
                        </div>
                    </header>
                    {{#unless (isEmpty (lookup @root.object.actions type))}}
                        <ul class="actions" data-type={{type}}>
                        {{#each (lookup @root.object.actions type) as |action|}}
                            <li data-id={{action.id}}>
                                <div class="data">
                                    <div class="action-name">
                                        <h4 class="name">
                                            <a data-action="toggle-summary">{{action.name}}</a>
                                        </h4>
                                    </div>
                                    <div class="action-controls">
                                        <a data-action="edit-action" data-tooltip="Edit Action" data-id={{action.id}} data-type={{type}}>
                                            <i class="fa-solid fa-fw fa-edit"></i>
                                        </a>
                                        <a data-action="delete-action" data-tooltip="Delete Action" data-id={{action.id}} data-type={{type}}>
                                            <i class="fa-solid fa-fw fa-trash"></i>
                                        </a>
                                    </div>
                                    <div class="action-summary" data-id={{action.id}} hidden="hidden">
                                        {{> (lookup action 'summaryTemplate') action=action type=type }}
                                    </div>
                                </div>
                            </li>
                        {{/each}}
                        </ul>
                    {{/unless}}
                {{/each}}
            </section>
        </section>
        <section class="tab rewards {{tab.cssClass}}" data-tab="rewards" data-group="primary">
            <div class="rewards">
                <div class="rewards-forms">
                    {{#each object.rewards as |reward|}}
                        <section class="rewards-form" data-id={{reward.id}}>
                            <header class="reward-header">
                                <i class="fa-solid fa-bars drag-handle"></i>
                                <h3 class="title" data-action="expand-reward" data-id={{reward.id}}>Reward Rank</h3>
                                <input name="rewards.{{reward.id}}.rank" type="number" value={{reward.rank}} style="width: 3rem;"/>
                                <div class="item-controls">
                                    <a class="remove-reward" data-id={{reward.id}} data-tooltip="Remove Reward">
                                        <i class="fa-solid fa-fw fa-trash"></i>
                                    </a>
                                </div>
                            </header>
                            <div class="container reward-summary" style="display: grid;" data-id={{reward.id}} hidden="hidden">
                                <div class="stacked">
                                    <div class="grid-item xp">
                                        <label>XP</label>
                                        <input name="rewards.{{reward.id}}.xp" type="number" value={{reward.xp}} />
                                    </div>
                                    <div class="grid-item treasure">
                                        <label>Treasure:</label>
                                        <label>pp</label><input name="rewards.{{reward.id}}.treasure.pp" type="number" value={{reward.treasure.pp}} >
                                        <label>gp</label><input name="rewards.{{reward.id}}.treasure.gp" type="number" value={{reward.treasure.gp}} >
                                        <label>sp</label><input name="rewards.{{reward.id}}.treasure.sp" type="number" value={{reward.treasure.sp}} >
                                        <label>cp</label><input name="rewards.{{reward.id}}.treasure.cp" type="number" value={{reward.treasure.cp}} >
                                    </div>
                                </div>
                                <div class="grid-item items">
                                    <label>Items</label>
                                    <div class="itemBar" data-id={{reward.id}}>
                                        {{#each reward.enrichedItems}}{{{itemButton @index this}}}{{/each}}
                                        <span data-placeholder="Drag items here" aria-placeholder="Drag items here"></span>
                                    </div>
                                </div>
                                <div class="grid-item notes">
                                    <label>Notes</label>
                                    <textarea name="rewards.{{reward.id}}.notes" placeholder="Notes">{{reward.notes}}</textarea>
                                </div>
                            </div>
                        </section>
                    {{/each}}
                </div>
                <div class="create-reward">
                    <a data-action="add-reward">
                        <i class="fa-solid fa-plus"></i>
                        New Reward
                    </a>
                </div>
            </div>
        </section>
    </div>
</div>